@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactForm>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="row">
      <div class="col-12">
        <h1 class="contact-form-header">@Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @Html.Action("Index", "ContactFormSurface")
    </div>
</div>