@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="row">
    <div class="col-12">
        <h1> </h1>
        <div>&nbsp;</div>
    </div>
</div>

@Html.GetGridHtml(Model, "mainContent", "bootstrap3")


@*@Umbraco.RenderMacro("listImageWidgets")*@

@*@Umbraco.RenderMacro("listEvents")*@