@inherits Umbraco.Web.Mvc.UmbracoViewPage<LiteratureListViewModel>
@using dtt_info.ViewModels;

@{
    Layout = "Master.cshtml";
}


<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
        <h1>@Html.Raw(Model.Catagory)</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <br />&nbsp;
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><em>Det Tredie Testamente</em></h3>
                <ul>
                    <li><a href="/litteratur/livets-bog"><em>Livets Bog</em></a></li>
                    <li><a href="/litteratur/det-evige-verdensbillede"><em>Det evige verdensbillede</em></a></li>
                    <li><a href="/litteratur/andre-store-boeger">Øvrige store bøger</a></li>
                    <li><a href="/litteratur/smaaboeger">Småbøger</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-8 book-list text-body">
        @foreach (Book item in Model.Books)
        {
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        }
    </div>

    <div class="col-sm-4">

    </div>
</div>
