@inherits Umbraco.Web.Mvc.UmbracoViewPage<LiteratureListViewModel>
@using dtt_info.ViewModels;

@{
    Layout = "Master.cshtml";
}
<h1>@Html.Raw(Model.Catagory)</h1>


<div class="row">

    <div class="col-sm-8 book-list">
       @foreach (Book item in Model.Books)
        {
            <h2><em>@item.Title</em></h2>
            <p>@item.Description</p>
        }
    </div>

    <div class="col-sm-4">
      
    </div>
</div>
