@inherits Umbraco.Web.Mvc.UmbracoViewPage<LiteratureOverview>

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<h1>Okay</h1>

@*@foreach (IPublishedContent item in Model)
{
    <p>@item.Name</p>
}*@
