@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Umbraco.Web.PublishedContentModels.TopImagesPage>
@{
	Layout = "Master.cshtml";
}

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
        @if (Model.Content.Title != null)
        {
        <h1>@Model.Content.Title</h1>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Header</h3>
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8 article text-body">


        @if (Model.Content.MainContent != null)
        {
            @Model.Content.MainContent
        }


    </div>
</div>
