<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1148" key="dc0ac98c-de5b-4f74-8aae-b4e75810feef" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-25T10:49:56" updateDate="2018-02-25T13:20:27" nodeName="Home" urlName="home" path="-1,1148" isDoc="" nodeType="1052" creatorName="Jes Arbov" writerName="Jes Arbov" writerID="0" template="1066" nodeTypeAlias="home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <mainContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "4011a4d2-0d0f-c2a2-6383-12f585ece1e8"
        }
      ]
    }
  ]
}]]></mainContent>
    <image><![CDATA[umb://media/1795f17f85ca40ad89e0dac406e70983]]></image>
    <subsiteTitle><![CDATA[Den intellektualiserede kristendom]]></subsiteTitle>
    <siteTitle><![CDATA[Det Tredie Testamente]]></siteTitle>
  </home>
</root>